@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  * {
    font-family: "Jost", sans-serif;
    scrollbar-color: rgb(0, 0, 0);
    scrollbar-width: 9px;
  }
}
@layer components {
  .CUSTOME-LINE::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 50%;
    height: 2px;
    background-color: #ffffff33;
  }

  .signature {
    font-family: "Sofia", cursive;
  }

  .BRACKET::before {
    position: absolute;
    content: "[";
    left: 0;
    top: 0;
    animation: animate 4s ease 2s infinite forwards;
    color: #44993b;
  }
  .BRACKET::after {
    position: absolute;
    content: "]";
    right: 0;
    top: 0;
    animation: animate 4s ease 2s infinite forwards;
    color: #44993b;
  }
}

@keyframes animate {
  0% {
    opacity: 1;
  }

  10% {
    opacity: 1;
  }

  20% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }

  80% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}


#Profile, #content{
  transition: all 0.5s ease-in-out;
}

.about-line::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 1px;
  height: 50px;
  transform: translateY(-50%);
  background-color: wheat;

}

@media (min-width: 1041px) {
  .scrolled #Profile{
    width: 32%;
  }

  .scrolled #content{
    width: 68%;
  }

  .scrolled #drawer{
    width: 32%;
  }
}

@media  (max-width: 1540px) {
  .skill-content{
    flex-direction: column !important;
  }
  .skill-content > *:last-child{
    height: fit-content;
  }
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1D1B19;
  display: none;
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff33;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #817d7d;
}
#mouseBall.pointer span{
  display: none;
}
#mouseBallSmall.pointer span{
  transition: all 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.2);
  width: 100px;
  height: 100px;
}

.button-swiper{
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.swiper-button-prev,
.swiper-button-next
{
 top: unset !important;
 bottom: unset !important;
 right: unset !important;
 left: unset !important;
 width: auto !important;
 position: relative !important;
 background: none !important;
 background-color: white;
 color: white;
}

.swiper-button-prev::after,
.swiper-button-next::after{
  content: '-';
  color: #987750;
  scale: 0.6;
  transform: translateY(50%);
}